/* Markdown */
:root {
    --maincolor: green;
    --bordercl: #E2532F;
    --callouctcolor: dodgerblue;
    --hovercolor: beige;
    --darkMaincolor: #50fa7b;
}

.tagskim {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* margin-bottom: 4em; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    max-width: 300px;
    padding: 5ch 1ch 1ch 1ch;
    /* word-wrap: break-word; */
    display: inline-block;
    vertical-align: top;
    font-size: 0.7rem;
}

.content {
    display: inline-block;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0 1ch 0 5ch;
    word-wrap: break-word;
}