/* Markdown */
:root {
    --maincolor: green;
    --bordercl: #E2532F;
    --callouctcolor: dodgerblue;
    --hovercolor: beige;
    --darkMaincolor: #50fa7b;
}

.tagskim {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* margin-bottom: 4em; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    max-width: 300px;
    padding: 0ch 5ch 1ch 0;
    word-wrap: break-word;
    /* display: inline-block; */
    /* position: absolute; */
    /* vertical-align: top; */
    font-size: 0.7rem;
}

.content {
    /* display: inline-block; */
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: 0 1ch 0 1ch;
    word-wrap: break-word;

}

.megakim {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.list {
    padding: 0 1ch 0 10ch;
}